.container {
  height: 100vh;
  padding: 0;


  margin: 0px;
  display: flex;
  flex-direction: column;

  .content {
    
    height: 100%;
    padding: 10px;
    background: blue;

    display: flex;
    flex-direction: row;
          align-items: flex-start;
          
          .left {
            height: 100%;
           overflow;
            
            background: yellow;
            
            
          //  height: 100%;
            padding: 10px;
            width: 300px;
            border: solid 1px rgba(0, 0, 0, 0.16);

mat-list {
  flex-basis: 50%;
  
    //flex-grow: 0;
    //border: 3px solid green;
    overflow: auto;
}
      }
      
      .right {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: space-between;
       box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
       border: solid 1px rgba(0, 0, 0, 0.16);

        .header {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .title {
            font-size: 24px;
          }
        }



        .horizontal {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: baseline;
        }
      }

      .space {
        flex: 1;
      }


      

  }
}

.primary-button {
  color: white;
  background: #3a9924;
  }
  
.secondary-button {
  color: black;
  background: rgba(0, 0, 0, 0.08);
}

.full-width {
  width: 100%;
}

.right-space {
  margin-right: 20px;
}

.bold {
  font-weight: 600;
}

.end {
  align-self: flex-end;
}

.horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.vertical {
  display: flex;
  flex-direction: column;

}
.cell {
  height: 80px;
}


